@import "tailwindcss";

.bg1{
    background: radial-gradient(
    circle at top,
    #26425f 0%,
    #203447 18%,
    #1b2838 48%,
    #171a21 78%,
    #0f141b 100%
);
}
.bg2{
    background: radial-gradient(
    circle at top,
    #32587a 0%,
    #23384c 22%,
    #1b2838 50%,
    #171a21 78%,
    #0f141b 100%
);
}
.sidebar{
    right: 0;
}